:root {
  --cor-0: #ffffff;
  --cor-1: #f9f9f9;
  --cor-2: #a5a1a1;
  --cor-3: #161616;
  --cor-p1: #5ca720;
}

.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-p1 {
  color: var(--cor-p1);
}
